<!doctype html>
<html>

<head>
  <title>BBC News Classification</title>
  <link rel="stylesheet" href="/static/style/design.css">
  <link rel = "icon" href = "/static/BBCLogo.png" type = "image/x-icon">
</head>

<body>
  <div>
    <center>
    <img src="/static/BBCLogo.png" height="80" width="120">
    </center>
  </div>
  <center>
  <form method="POST" onsubmit=submit()>
    <textarea  id="textid" name="news" rows="20" cols="50"> {{text}}</textarea>
    <br>
    <input type="submit" value="CLASSIFY" >
</form>
<span style="font-family:Arial;font-size:15pt">
  {{prediction}}<br>
  Business   Entertainment   Politics   Sports   Tech<br>
  {{confidence}}
<span>
</center>
</body>
</html>
<center>
