<!doctype html>
<html>

<head>
  <title>BBC News Classification</title>
  <script>
    function Storage() {
        if (typeof(Storage) !== "undefined") {
            sessionStorage.setItem("course", "HI");
            document.getElementById("textid").innerHTML =
                sessionStorage.getItem("course");
        } else {
            document.getElementById("textid").innerHTML =
                "The browser does not support Web Storage.";
        }
    }
</script>
</head>

<body>
  <div>
    <center>
    BBC News Classification
    </center>
  </div>
  <center>
  <form method="POST" onsubmit=submit()>
    <textarea  id="textid" name="news" rows="20" cols="50"> {{value2}}</textarea>
    <br>
    <input type="submit" name="Classify" >
</form>
<span style="font-family:Arial;font-size:10pt">
  {{value}}
<span>
</center>
</body>
</html>
<center>
